:root{
    --primary-blue : #F8FAFC;
    --secondary-blue : #D9EAFD;
    --light-blue : #433D8B;
    --text-color : #9AA6B2;
    --error-text : red;
    --secondary-green : #009990;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: var(--primary-blue);
}

h1,h2,h3,h4,h5,h6,p,li{
    color: var(--secondary-green);
    text-transform: uppercase;
}
.main-heading{
  background-color: var(--secondary-blue);
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 12px;
  color: var(--secondary-green);
}
.secondary-heading{
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px;
  border-bottom: 1px dotted var(--text-color);
}
.error-text{
    color: var(--error-text);
}

ul{
  list-style-type: square;
  padding: 50px;
}
li{
  font-size: 18px;
}
/* fonts */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.main-heading{
  text-transform: uppercase;
}

header{
  background-color: #D9EAFD;
  text-align: center;
}
button {
  all: unset;
  background: var(--secondary-green);
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  margin: 20px;
  cursor: pointer;
  border: 2px solid var(--secondary-green);
  transition: all 300ms ease-in-out;
}
button:hover{
  background-color: white;
  color: var(--secondary-green);
}

main{
  padding: 20px;
  text-align: center;
}
input[type="text"],
input[type="date"]{
  all: unset;
  border: 1px solid var(--secondary-blue);
  padding: 10px 20px;
  color: var(--secondary-green);
}
input[type="text"]::placeholder{
  color: var(--text-color);
}
span.divider{
  display: block;
  width: 500px;
  margin: 20px auto;
  border: 1px dotted var(--text-color);
}
#task-list ul {
  list-style: none;
  padding: 0;
}

#task-list li {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.dark-mode{
  background-color: var(--text-color);
  color: white;
}