:root{
    --primary-blue : #17153B;
    --secondary-blue : #2E236C;
    --light-blue : #433D8B;
    --text-color : #FDF7F4;
    --error-text : red;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: var(--primary-blue);
}

h1,h2,h3,h4,h5,h6,p,li{
    color: var(--text-color);
}
.main-heading{
  background-color: var(--secondary-blue);
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 12px;
}
.secondary-heading{
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px;
  display: inline;
}
.error-text{
    color: var(--error-text);
}
summary::marker {
  color: var(--text-color);
  font-size: 1.2em;
}

summary {
  background-color: var(--secondary-blue);
  color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
}

details[open] summary {border-radius: 5px 5px 0 0;}

details {
  background: var(--secondary-blue);
  border-radius: 5px;
  margin: 20px;
  border: 1px dotted var(--text-color);
}
ul{
  list-style-type: none;
  padding: 50px;
}
li{
  font-size: 18px;
}
/* fonts */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.card {
  background: var(--light-blue);
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.card h4 {
  margin: 0 0 5px;
}
button {
  padding: 10px 15px;
  font-size: 16px;
  margin: 10px;
  background-color: var(--text-color); /* Green */
  border: none;
  color: var(--primary-blue);
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  border: 2px dotted var(--text-color);
  text-transform: uppercase;
}
button:hover{
  background-color: var(--primary-blue);
  color: var(--text-color);
  transition: all ease-in-out 300ms;
}
input[type=text] {
  width: 60%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
form{
  display: inline-block;
  border: 1px dotted var(--text-color);
  padding : 0 10px
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}